@page "/datamovement"
@inject HttpClient Http;
@using System.Globalization;
@using System.Net.Http.Json;
@rendermode InteractiveServer

Data Movement

<div class="row" style="margin-bottom: 20px;">
    <div class="col-md-3">
        <label>Year</label>
        <input @bind-value="Year" type="number" min="2020" class="form-control" />
    </div>

    <div class="col-md-3">
        <label>Month</label>

        <select class="form-control valid" aria-invalid="false" @bind="Month">
            @for (int i = 1; i <= 12; i++)
            {
                <option value="@i">@CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(i)</option>
            }
        </select>

    </div>

    <div class="col-md-3">
        <br />
        <button class="btn btn-primary" @onclick="RenderDataMovement">Search</button>
    </div>

</div>

<div class="row">
    <div class="col-md-12 table-responsive" id="">
        <table id="mt940-table" class="table table-xs table-bordered table-striped table-hover">

            <thead id="datamovement_Thead">
                <tr>
                    <th>THN</th>
                    <th>BLN</th>
                    <th>Kode</th>
                    <th>Produk</th>
                    <th>Pensiun</th>
                    <th>Meninggal</th>
                    <th>Keluar</th>
                </tr>
            </thead>
            <tbody id="datamovement-tbody">

                @if (listData != null)
                {
                    @foreach (var item in listData)
                    {
                        <tr>
                            <td>@item.TAHUN</td>

                            <td>
                                @CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(item.BULAN)
                            </td>

                            <td>@item.PRODUCTCODE</td>

                            <td>@item.PRODUCTNAME</td>

                            <td>@item.PENSIUN</td>

                            <td>@item.MENINGGAL</td>

                            <td>@item.KELUAR</td>
                        </tr>
                    }
                }

            </tbody>
        </table>
    </div>
</div>
@code {
    private int Year;
    private int Month;
    private List<MovementDto> listData;

    protected override void OnInitialized()
    {
        Year = DateTime.Now.Year;
        Month = DateTime.Now.Month;
        RenderDataMovement();
    }

    protected async Task RenderDataMovement()
    {
        string urlx = "https://localhost:7011/datamovement/searchhibernate?tahun=" + Year + "&bulan=" + Month;
        listData = await Http.GetFromJsonAsync<List<MovementDto>>(urlx);
    }

    public class MovementDto
    {
        public int TAHUN { get; set; }
        public int BULAN { get; set; }
        public string? PRODUCTCODE { get; set; }
        public string? PRODUCTNAME { get; set; }
        public int PENSIUN { get; set; }
        public int MENINGGAL { get; set; }
        public int KELUAR { get; set; }
    }
}
